.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color:#f0f0f0; 
  font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
    background-color:rgba(254, 252, 252, 0.786);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form textarea {
    height: 150px; 
    resize: vertical; 
  }
  
  form input[type="submit"] {
    background-color: yellow; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  form input[type="submit"]:active {
    background-color: black; 
    color: yellow;
  }
  
