@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background: #000;
}

h1,h4,a ,p{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}


.btn{
  padding: 2%;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #222;
  background: rgb(248, 217,15);
  border: 1px solid #fff;
  cursor: pointer;

}

.btn-light {
  background: transparent;
  color:#fff
}

.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color : #fff ;
  transition: 0.3s;
}